<div id="googleMap"></div>

<div class="search-results">
  <img src="rage-logo-bordered.png" class="logo">
  <h2>How close are you to the proposed monster power lines?</h2>
  <% unless @result %>
      <p>Enter your address below and hit "Enter".</p>
    <% else %>
      <p class="lead">Your location is approximately <%= @power_line_distance %> feet from the proposed 230 Kilovolt Power Lines</p>
    <% end %>
    <form action="/" method="GET">
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Estimate Distance:</button>
        </span>
        <input type="text" name="address" class="form-control" placeholder="My Address..." value="<%= @result ? @result.address : '' %>">
        <% if @result %>
          <span class="input-group-btn">
            <button class="btn btn-default clip-btn" type="button" data-clipboard-text="<%= @full_url %>">
              Copy Link to Share
            </button>
          </span>
        <% end %>
      </div>
    </form>
</div>

<script>
function initialize() {
  var mapProp = {
    center:new google.maps.LatLng(40.38915,-74.11643),
    zoom:13,
    mapTypeId:google.maps.MapTypeId.HYBRID
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
  <%= raw(@power_line.to_placemark)%>
  <% @schools_data.each do |school_data| %>
      <% school = school_data[0] %>
      <% school_line_string = school_data[1][0] %>
      <% school_distance = school_data[1][1] %>
      var schoolMarker<%= school.id %> = new google.maps.Marker({
          position: new google.maps.LatLng( <%= school.location.latitude%>,<%=school.location.longitude %>),
          map: map,
          title: '<%= school.name %>',
          icon: 'electric.png'
      });
        <% !school.access.to_s.empty? ? school_link = "<a href=#{school.access} target=_BLANK>#{school.name}</a>" : school_link = "#{school.name}"%>
        var contentString<%= school.id %> = '<div id="content"><h4><%= raw(school_link) %></h4><h5><%= school_distance%> feet from proposed 240 Kilovolt Power Lines</h5></div>';
        var infowindow<%= school.id %> = new google.maps.InfoWindow({
                  content: contentString<%= school.id %>
        });
      google.maps.event.addListener(schoolMarker<%= school.id %>, 'click', function() {
                infowindow<%= school.id %>.open(map,schoolMarker<%= school.id %>);
      });
      <%= raw(school_line_string) %>
  <% end %>
  <%= raw(@power_parcel_placemarks) %>
  <% if @result %>
    var marker = new google.maps.Marker({
            position: new google.maps.LatLng( <%= @result.latitude%>,<%=@result.longitude %>),
            map: map,
            title: '<%= @result.address %>'
        });
    var contentString = '<div id="content"><h4><%= @result.address %></h4></div>';
      var infowindow = new google.maps.InfoWindow({
                content: contentString
      });
    <%= raw(@power_line_string) %>
    google.maps.event.addListener(marker, 'click', function() {
              infowindow.open(map,marker);
    });
    var clipboard = new Clipboard('.clip-btn');

    clipboard.on('success', function(e) {
    	console.log(e);
    });

    clipboard.on('error', function(e) {
        console.log(e);
    });
  <% end %>
}
google.maps.event.addDomListener(window, 'load', initialize);

</script>
